<p-toolbar styleClass="topNavPosition">
    <div class="p-toolbar-group-left">
        <!-- <p-button label="New" icon="pi pi-plus"></p-button>
        <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>            
        <i class="pi pi-bars"></i> -->
         <!-- <h2 class="brandName">{{brandName | uppercase}}</h2> -->
    </div>
    
    <div class="p-toolbar-group-right topRightBtnsDivs"> 
        <button pButton type="button" *ngIf="hideCart" (click)="showselectedData()" label="{{totalAddeedItems}} Cart Items" icon="pi pi-cart-plus" class="p-button-outlined p-button-rounded p-button-success position-relative totalitemsBtn">  </button>
        <button pButton type="button"  class="p-button-outlined p-button-rounded topNav_profileBTN" > {{firstName | uppercase}}{{lastName |uppercase}}</button>

    </div>
  </p-toolbar>