.addStudentdataBtnDiv {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
    .addstudentBtn{
        color: #ffffff;
        background: #de3da1;
        border: none;
        margin-bottom: 30px;
    }   
}