  
<div class="d-flex justify-content-end align-items-center mb-3 mt-3 productsTopBrandSection">
    <h2 class="brandName">{{brandName | uppercase }}</h2>
    <!-- <button pButton type="button"  (click)="showselectedData()" label="Show Added Items" class="p-button-text"><span class="additemShow" *ngIf="addedData.length > 0 ">{{addedData.length }}</span></button> -->
    <form [formGroup]="myForm" >
      <p-dropdown [options]="cities"  optionLabel="name" formControlName="filterProduct" (onChange)="valueSelected()" styleClass="filterDropdown"></p-dropdown>
    </form>
</div>
<div style="display:contents">
  <div class="row">
    <div *ngIf="productsData">
      <p-table [value]="productsData" [paginator]="false" [rows]="5" [showCurrentPageReport]="true" 
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15,20,25]">
      <ng-template pTemplate="body" let-data>   
        <tr>
          <div class="card cardDiv">   
              <img src="{{data.thumbnail}}" width="100%"> 
            <div class="contentDiv"> 
              <h4>{{data.description}}</h4>
              <span class="limitedTimeDeal">Limited Time Deal</span>
              <h3 class="priceColumn">{{data.price | currency}} <span>({{data.discountPercentage }} %)</span></h3>
              <p>Get it by <b>Thursday, December 22</b></p>
              <p>FREE Delivery by Amazon</p>
              <button pButton type="button" class="p-button-outlined" id="{{data.id}}" (click)="viewMoreData($event)">View More</button>
              <!-- <button pButton type="button" class="p-button-outlined" id="{{data.id}}" (click)="addData($event)">Added to selectd List</button> -->
            </div>         
          </div>
        </tr>
      </ng-template>
    </p-table>
    </div>
    <!-- <p-paginator [rows]="10"  [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator> -->
      <div *ngIf="!productsData">
        <div class="cardDiv" *ngFor="let item of [].constructor(3)">       
         
            <p-skeleton width="300px" height="200px"></p-skeleton>
          
          <div class="contentDiv"> 
            <p-skeleton width="500px" height="2rem"></p-skeleton>
            <p-skeleton width="150px" height="2rem"></p-skeleton>
            <p-skeleton width="100px" height="2rem"></p-skeleton><p-skeleton width="100px" height="1rem"></p-skeleton>
            <p-skeleton width="200px" height="1.5rem"></p-skeleton>
            <p-skeleton width="200px" height="1.5rem"></p-skeleton>          
            <p-skeleton width="100px" height="2rem"></p-skeleton>
          </div>                 
      </div>
      </div>
  </div>
</div>
 
 <!--  Highlited Popup -->
 <p-dialog   [(visible)]="displayMaximizable" styleClass="highlitedPopup" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="cardDiv" *ngFor="let data of highlitedData;  let i = index" >     
      <h5>{{data.title}}</h5>   
        <div class="row">
          <div class="col-md-12">
              <ngb-carousel >
                  <ng-template ngbSlide   *ngFor="let ddd of data.images;let k=index">
                      <img class="img-fluid" src="{{data.images[k]}}" alt="Random first slide">                       
                  </ng-template>                   
              </ngb-carousel>
          </div>
        </div>

      <div class="contentDiv"> 
        <h4>{{data.description}}</h4>
        <span class="limitedTimeDeal">Limited Time Deal</span>
        <h3 class="priceColumn">{{data.price | currency}} <span>({{data.discountPercentage }} %)</span></h3>
        <p>Get it by <b>Thursday, December 22</b></p>
        <p>FREE Delivery by Amazon</p>       
        <table>
          <tr>
            <td><b>Brand</b></td>
            <td>{{data.brand}}</td>
          </tr>
          <tr>
            <td><b>Category</b></td>
            <td>{{data.category}}</td>
          </tr>
          <tr>
            <td><b>Price</b></td>
            <td>{{data.price}}</td>
          </tr>
          <tr>
            <td><b>Rating</b></td>
            <td>{{data.rating }}</td>
          </tr>
          <tr>
            <td><b>Stock</b></td>
            <td>{{data.stock }}</td>
          </tr>
        </table>
        <div class="d-flex justify-content-end ">
          <button pButton type="button" class="AddhighliteBtn" id="{{data.id}}" (click)="addData(data.id)">Added to Cart</button>
        </div>

      </div>                 
    </div>
        
</p-dialog>


<p-toast position="top-right"></p-toast>
<p-confirmDialog styleClass="confirmPopup" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


