/* You can add global styles to this file, and also import other style files */




.slideDiv{
    position:absolute;
    left:0px;
    width:50% !important;
    height:100%;
    transition: 1s;
}
.relativePosition{
    position: relative;
} 
  
.cardDiv{
    align-items: center;
    box-shadow: 1px 2px 10px rgb(0 0 0 / 24%);
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns:1fr 3fr;
    .limitedTimeDeal{
        background-color: #de3da1;
        color:#ffffff;
        padding:3px 10px;
        font-size: 14px;
    }
    .contentDiv{
        margin:0px 20px;
        .p-button-outlined{
            padding: 0.3rem 1rem;
            font-size: 0.8rem;
        }
        .additemDeleteBtn{
            color:#de3da1 !important;
        }
    }
} 
.imagesDiv{    
    img{
        width:100%;
    }
}
.priceColumn{
    display:flex;
    align-items: center;
    gap:10px;
    span{
        font-size:20px;
        font-weight: 500;
    }
}
.additemShow{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    line-height: 20px;
    text-align: center;
    background: red;
    color: #fff;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
}
.card-body{
    .form-outline{         
        position: relative;
        .requiredStar{           
            color: #d6397b;
            font-size: 16px;
            font-weight: bold;
            position: absolute;
            left: -10px;
            top: -5px;
        }
    }
}
.p-inputtext {
    width:100%
}
.primeNumberBox{
    width:100%;
    span{
        width:100%
    }
}
.p-skeleton{
    margin-bottom: 9px;
}
.p-password{
    width:100% !important;
}
.filterDropdown{
    width:300px;
    .p-dropdown-items-wrapper{
        max-height: fit-content !important;
    }
}
.totalItemsInProducts{
    width:20px;
    height:20px;
    position: absolute;

}
.productsTopBrandSection{   
    .filterDropdown{
        border: 1px solid #de3da1;
        .p-dropdown-label{
            color:#de3da1;
        }
        .p-dropdown-trigger{
            color:#de3da1;
        }
        &:hover{
            border: 1px solid #de3da1;
        }
        .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
            color:#de3da1;
        }
    }
}
.topRightBtnsDivs{
    gap:10px;
    .totalitemsBtn{
        color:#e65f2c !important;
    }
}
.topNavPosition{
    position: sticky;
    top: 0px;
    z-index: 999;
    box-shadow: 1px 2px 10px #00000045;
}
.brandName{   
    font-size: 25px;
    font-weight: bold;
    color: #de3da1;
    text-transform: uppercase;
    position: fixed;
    top: 29px;
    left: 233px;
    z-index: 999;    
}
.highlitedPopup{
    .cardDiv{
        display: inherit;
        margin-bottom: 0px;
        box-shadow: none;
        img{
            margin-bottom: 20px;
            width:100%
        }
        h5{
            color: #de3da1;
            position: absolute;
            top: 38px;
            left: 44px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .contentDiv {            
            margin: 0px;
            h4{
                font-size: 20px;
                margin-bottom: 15px;
                color: #df3da1;
            }
            .priceColumn{
                margin: 10px 0px;
            }
            td{
                padding: 1px 20px;
                font-size: 14px;
            }
        }
        .AddhighliteBtn{
            color: #ffffff;
            background: #de3da1;
            padding: 7px 25px;
            border: none;
        }
    }
}
.updateUserPopup{
    display: grid;
    gap: 10px; 
    justify-content: space-between;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr) !important;
    .p-float-label{
        width: 100%;
    }
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

//