.logoImage{
  text-align: center;
  background: #ccc3c3;
  img{
    width:135px;
  }
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 1px 2px 10px #00000045;
    .active-link{
        // background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        // color: white;
        background: #de3da1;
        color: white;
        font-size: 17px;
        font-weight: 500;
    }
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border-bottom: 1px solid #d9d3d3;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
   
  div.content {
    margin-left: 200px;
    padding: 1px 16px; 
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }