<div class="sidebar"> 
    <div class="logoImage">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp">
    </div>
    <a  [routerLink]="['products']"  routerLinkActive="active-link">All Products</a>
    <a  [routerLink]="['selectedProduct']" routerLinkActive="active-link" > Cart Items</a> 
    <a  [routerLink]="['student']"  routerLinkActive="active-link">Students</a> 
    <a  [routerLink]="['employee']" routerLinkActive="active-link">Employees</a>    
    <a [routerLink]="['user']" routerLinkActive="active-link">User</a>
    <a >Contact</a>  
</div>
   
  <div class="content">     
    <app-top-navbar [totalAddeedItems]="totalSelectedItems" ></app-top-navbar>
    <router-outlet></router-outlet>
  </div>
