
<div class="d-flex justify-content-between align-items-center mb-3 mt-3 productsTopBrandSection">
    <h2 class="brandName">Users data </h2>
    
</div>

<div class="card">
    <p-table [value]="allUserData" [scrollable]="true" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" 
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15,20]"  [globalFilterFields]="['name','country.name','representative.name','status']">
        

        <ng-template pTemplate="header">
            <tr>
                <th pFrozenColumn>ID</th> 
                <th>Name</th>
                <th>Email</th> 
                <th>User Name</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Company Name</th>
                <th>Address</th>
                <th  alignFrozen="right" pFrozenColumn [frozen]="balanceFrozen">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td pFrozenColumn><b>{{product.id}}</b></td> 
                <td>{{product.name}}</td>
                <td>{{product.email}}</td> 
                <td>{{product.username}}</td>
                <td>{{product.phone}}</td>
                <td>{{product.website}}</td>
                <td>{{product.company.name}}</td>
                <td>{{product.address.street}},{{product.address.city}}, {{product.address.zipcode}}</td>
                <td  alignFrozen="right" pFrozenColumn [frozen]="balanceFrozen" class="d-flex">
                    <button pButton type="button" icon="pi pi-user-edit" iconPos="left" class="p-button-success" (click)="edituserData(product.id)"></button>
                    <button pButton type="button" icon="pi pi-trash" iconPos="left" class="p-button-danger" (click)="deleteuserselctdid(product.id)"></button>
                </td> 
            </tr>
        </ng-template>
    </p-table>
</div>



<p-dialog header="Update Data" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <form class="updateUserPopup" #productData="ngForm" (ngSubmit)="  updateformuserdata()">
        <span class="p-float-label">
            <input id="float-input" class="p-inputtext-sm" type="text" pInputText formControlName="id" [(ngModel)]="id"> 
            <label for="float-input">id</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" class="p-inputtext-sm" type="text" pInputText formControlName="name"> 
            <label for="float-input">name</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" class="p-inputtext-sm" type="text" pInputText  formControlName="username"> 
            <label for="float-input">Username</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" class="p-inputtext-sm" type="text" pInputText formControlName="email"> 
            <label for="float-input">email</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" class="p-inputtext-sm" type="text" pInputText formControlName="phone"> 
            <label for="float-input">phone</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" class="p-inputtext-sm" type="text" pInputText  > 
            <label for="float-input">website</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" class="p-inputtext-sm" type="text" pInputText  > 
            <label for="float-input">street</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" class="p-inputtext-sm" type="text" pInputText > 
            <label for="float-input">suite</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" class="p-inputtext-sm" type="text" pInputText  > 
            <label for="float-input">city</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" class="p-inputtext-sm" type="text" pInputText > 
            <label for="float-input">zipcode</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" class="p-inputtext-sm" type="text" pInputText  > 
            <label for="float-input">company Name</label>
        </span>
        <button type="submit">submit</button>
    </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Yes" class="p-button-text"></p-button>
            <p-button icon="pi pi-times" (click)="displayMaximizable=false" label="No"></p-button>
        </ng-template>
</p-dialog>



<p-toast position="top-right"></p-toast>
<p-confirmDialog header="Confirmation" styleClass="confirmPopup" icon="pi pi-exclamation-triangle"></p-confirmDialog>